
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 165 14% 93%;
    --foreground: 154 30% 10%;
    --card: 0 0% 100%;
    --card-foreground: 154 30% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 154 30% 10%;
    --primary: 154 90% 23%;
    --primary-foreground: 0 0% 98%;
    --secondary: 120 50% 50%;
    --secondary-foreground: 0 0% 98%;
    --muted: 154 10% 85%;
    --muted-foreground: 154 10% 30%;
    --accent: 120 50% 50%;
    --accent-foreground: 154 90% 23%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 154 20% 80%;
    --input: 154 20% 85%;
    --ring: 154 90% 23%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 154 30% 5%;
    --foreground: 165 14% 93%;
    --card: 154 30% 8%;
    --card-foreground: 165 14% 93%;
    --popover: 154 30% 8%;
    --popover-foreground: 165 14% 93%;
    --primary: 154 90% 30%;
    --primary-foreground: 0 0% 98%;
    --secondary: 120 40% 40%;
    --secondary-foreground: 0 0% 98%;
    --muted: 154 20% 15%;
    --muted-foreground: 154 10% 70%;
    --accent: 120 40% 40%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 154 20% 20%;
    --input: 154 20% 20%;
    --ring: 154 90% 30%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
